# DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=cosmos
DB_PASSWORD=cosmos_local_dev
DB_NAME=cosmos
DB_ECHO=true # 실행되는 SQL이 로그에 찍힘 
DATABASE_URL=postgresql+psycopg2://{username}:{password}@{host}:{port}/{db_name}

# Gemini
GEMINI_API_KEY=

# langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="cosmos"

# url
BACKEND_URL=http://localhost:8080